<body  id = "aboutMe">
  <div class="aboutMeContent">
    <img class="experienceImg" id="meImg" src="assets/images/me.jpg"/>
    <h2>About Me</h2>
    <p>Hi, I'm Matt! Technology has always had a presence in life since I was a young kid playing games on his Nintendo 64.
       That passion grew into a career when I decided to study computer science in college and learn about how a piece of this ever-evolving force
       in our lives really works.</p>
    <br>
    <p>I started working on self-projects after graduation until I found a part-time position at theCoderSchool in Folsom. Teaching the students
       is a rewarding experience that motivated me to do more with my knowledge. After half a year or so, my technology experience lead me to an even larger opportunity 
       with OnCore Consulting LLC. My current project with OnCore allows me to be a part of a agile development team and expand my experience to an industry level. 
       Most importantly, I can work towards a lifelong accomplishment of mine: using my knowledge to help others.</p>
  </div>
  <br>
</body>