body {
  text-align: center;
  border: #333333;
  border-style: solid;
  border-top-style: none;
  overflow: auto;
  margin-bottom: 0px;
  border-width:  20px;
}

.bold {
  font-weight: bold;
}

#oncoreImg {
  margin-top: 0px;
}

/*CSS for Meduim to Large Desktop*/
@media only screen and (min-width: 1300px) {
  .experienceImg  {
    height: 200px;
    width: 200px;
    margin-top: 50px;
  }
  body {
    margin-top: 60px;
  }
}

/*CSS for Small Desktop/IPad Pro*/
@media only screen and (max-width: 1300px) { 
  .experienceImg  {
    height: 150px;
    width: 150px;
    margin-top: 50px;
  }
  body {
    margin-top: 50px;
  }
}

p {
  width: 550px;
  margin: auto;
}