<body id = "experience">
  <div class="experienceContainer">
    <div class="experienceContent">
      <a href="https://www.oncorellc.com/" target="_blank">
        <img class="experienceImg" id="oncoreImg" src="assets/images/oncore_logo.png"/>
      </a>
      <h2>Associate at OnCore Consulting LLC</h2>
      <h3>May 2020 - Now</h3>
      <p>Currently working as a Junior Agile Developer on a project for California Department of Social Services (CDSS).
         The system is a case management system called CMIPS that is currently used by the state to manage the In-Home Support Services (IHSS) program.</p>
      <br>
      <p><span class="bold">Technologies include:</span> IBM Curam, IBM DB2 (SQL), Angular, AWS, DynamoDB, HTML/CSS, Java</p>
      <br>
    </div>
    <div class="experienceContent">
      <a href="https://www.thecoderschool.com/locations/folsom/" target="_blank">
        <img class="experienceImg" src="assets/images/coderschool_logo.png"/>
      </a>
      <h2>Code Coach at theCoderSchool Folsom</h2>
      <h3>November 2019 - Now</h3>
      <p>Teaching kids how to code! The curriculum is dynamic so I work with them on projects that they find interesting around their
        current skill level. The students and I gradually work on more complex projects as they become more experienced coders. </p>
        <br>
      <p><span class="bold">Technologies include:</span> Scratch, Snap, JavaScript, and HTML/CSS</p>
      <br>
    </div>
    <div class="experienceContent">
      <a href="https://www.planetfitness.com/gyms/citrus-heights-ca" target="_blank">
        <img class="experienceImg" src="assets/images/pf_logo.png"/>
      </a>
      <h2>MSR at Planet Fitness Citrus Heights</h2>
      <h3>July 2018 - February 2020</h3>
      <p>Worked as a Member Services Representative. I helped to maintain the gym and collaborate as a team to create the best solution to customer's problems.
         
      </p>
        <br>
      <br>
    </div>
  </div>
</body>