body {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: #333333;
  border-style: solid;
  border-width: 10px;

}

.imgContainer {
  height: 420px;
}

p {
  display: inline-block;
  width: 550px;
}

h2 {
display: inline-block;
margin-top: 90px;
}

#djImg {
  height: 300px;
  width: 300px;
  margin: 20px;
  margin: 30px;
  float: left;
}

#proxyImg {
  height: 300px;
  width: 300px;
  margin: 20px;
  margin: 30px;
  float: left;
}

#coachImg {
  height: 300px;
  width: 500px;
  margin: 30px;
  float: left;
}
