/*CSS for Meduim to Large Desktop*/
@media only screen and (min-width: 1300px) {

  .projectContainer {
    height: 420px;
    margin-top: 50px;
  }

  p {
    margin-left: 330px;
  }

  h2 {
    padding-top: 50px;
  }

  #djImg, #proxyImg, #coachImg  {
    height: 300px;
    width: 300px;
  }
}

/*CSS for Small Desktop/IPad Pro*/
@media only screen and (max-width: 1300px) {
  .projectDesc, .progLanguages {
    font-size: 0.75em;
  }

  .projectContainer {
    height: 300px;
    margin-top: 35px;
  }

  p {
    margin-left: 220px;
  }

  h2 {
    font-size: 1.25em;
    padding-top: 10px;
  }

  h3 {
    font-size: 1.00em;
  }
    

  #djImg, #proxyImg, #coachImg  {
    height: 200px;
    width: 200px;
  }
}

.projectContent {
  width: 65%;
  margin: auto;
}

body {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: #333333;
  border-style: solid;
  border-top-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 20px;
  overflow: auto;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
}

#djImg {
  float: left;
}

#proxyImg {
  float: left;
}

#coachImg {
  float: left;
}
