<body>
    <div class="imgContainer">
      <a href="https://play.google.com/store/apps/details?id=com.matthewcook.fitness.dj_fit" target="_blank">
        <img id="djImg" src="assets/images/djImg.jpg"/>
      </a>
      <h2 id="djHead">DJ Fit</h2>
      <br>
      <p class="projectDesc">DJ Fit is a full-stack Android application that allows gym trainers and their clients better connect and customize workout plans on the go.</p>
      <h4>Technologies:</h4>
      <p>Java, Android, Google Firestore (Document-based NoSQL), Google Firebase Authentication/Storage/Cloud Functions, YouTube Player API </p>
    </div>
    <div class="imgContainer">
      <a href="https://github.com/MatthewCookUNR/Local-Proxy-Network" target="_blank">
        <img id="proxyImg" src="assets/images/proxyImg.jpg"/>
      </a>
      <h2>Local Proxy Network</h2>
      <br>
      <p class="projectDesc">Local Proxy Network is an application that creates a proxy, client-server network.</p>
      <h4>Technologies:</h4>
      <p>Python, PyQt5, SQLite, Socket Programming</p>
    </div>
    
    <div class="imgContainer">
      <a href="https://github.com/MatthewCookUNR/Coaching-Projects-And-Problems" target="_blank">
        <img id="coachImg" src="assets/images/coachImg.png"/>
      </a>
      <h2>Weekend Coding Projects</h2>
      <br>
      <p class="projectDesc">The repository holds a large handfull of small projects I completed for fun and self-paced learning!</p>
      <h4>Technologies:</h4>
      <p>C++, Java, Python, HTML, CSS, JavaScript  </p>
    </div>
</body>