.menuContent {
  margin: 0px;
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
}

.pageLinks li:hover {
  background: #ddd;
  color: black;
}



ul {
  list-style-type: none;
  background-color: #333333;
  color: white;
  font-weight: bold;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
}

ul #name {
  color: turquoise;
  font-family: Georgia;
  font-size: 32px;
}

.pageLinks {
  text-decoration : none; 
  color : #FFF;
}

/*CSS for Meduim to Large Desktop*/
@media only screen and (min-width: 1300px) {

  li {
    padding: 20px;
    font-size: 1.5em;
  }

  ul #name {
    font-size: 1.75em;
  }
  
}

/*CSS for Small Desktop/IPad Pro*/
@media only screen and (max-width: 1300px) {
  li {
    padding: 15px;
    font-size: 1.15em;
  }

  ul #name {
    font-size: 1.35em;
  }
}