body {
  border: #333333;
  margin-top: 0px;
  margin-bottom: 0px;
  border-style: solid;
  border-top-style: none;
  overflow:auto;
  border-width: 20px;
  min-height: 300px;
}

header {
  text-align: center;
}

select {
  background-color: #7a8f9a; 
 border: none;
 color: white;
 padding: 10px 20px;
 margin: 10px;
 text-align: center;
 text-decoration: none;
 display: outline-block;
 font-size: 20px;
 
}