<body id="games">
  <header>
    <h1>Game Player</h1>
    <select #games (change)="newGame(games.value)">
      <option class='hideOption' selected='true' disabled>Pick a Game!</option>
      <option value="TicTacToe">Tic Tac Toe</option>
      <option value="Chess">Chess Game</option>
    </select>
    <div id="gameChoiceImages">
      <img class="experienceImg" id="meImg" src="assets/images/chessImg.png"/>
      <p>OR</p>
      <img class="experienceImg" id="meImg" src="assets/images/ticTacImg.png"/>
    </div>
  </header>
  <template #games></template>
</body>
