<body id = "contactMe">
  <div class="contactMeContainer">
    <div class="contactMeContent">
      <div class = "contactRight">
        <h2 class ="contactHeader">Contact Information</h2>
        <p class="contactInfo"><span class="bold">Email: </span> <a href="mailto: matthewthomascook96@gmail.com">matthewthomascook96@gmail.com</a></p>
        <p class="contactInfo"><span class="bold">Phone: </span> 916-757-7074</p>
        <p class="contactInfo"><span class="bold">LinkedIn: </span> <a href="https://www.linkedin.com/in/cooktmatt/">https://www.linkedin.com/in/cooktmatt/</a></p>
      </div>
    </div>
  </div>
</body>
