<body>
  <header>
    <h2 id="gameStatus">Current Player: <span id="currentPlayer"></span></h2>
  </header>
  <div id="mainContent">
    <div id="leftSidebar" class="sidebar">
      <div class="sidebarContent">
        <h2>White Player</h2>
        <ul>
          <li>King Status: <span id="whiteKingStatus">Safe</span></li>
        </ul>
      </div>
    </div>
    <div id="chessBoard">
      <table>
        <tbody>
          <tr>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow1Col1"><span class="chessPiece">♖</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow1Col2"><span class="chessPiece">♘</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow1Col3"><span class="chessPiece">♗</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow1Col4"><span class="chessPiece">♕</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow1Col5"><span class="chessPiece">♔</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow1Col6"><span class="chessPiece">♗</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow1Col7"><span class="chessPiece">♘</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow1Col8"><span class="chessPiece">♖</span></td>
          </tr>
          <tr>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow2Col1"><span class="chessPiece">♙</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow2Col2"><span class="chessPiece">♙</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow2Col3"><span class="chessPiece">♙</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow2Col4"><span class="chessPiece">♙</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow2Col5"><span class="chessPiece">♙</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow2Col6"><span class="chessPiece">♙</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow2Col7"><span class="chessPiece">♙</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow2Col8"><span class="chessPiece">♙</span></td>
          </tr>
          <tr>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow3Col1"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow3Col2"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow3Col3"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow3Col4"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow3Col5"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow3Col6"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow3Col7"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow3Col8"></td>
          </tr>
          <tr>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow4Col1"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow4Col2"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow4Col3"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow4Col4"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow4Col5"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow4Col6"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow4Col7"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow4Col8"></td>
          </tr>
          <tr>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow5Col1"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow5Col2"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow5Col3"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow5Col4"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow5Col5"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow5Col6"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow5Col7"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow5Col8"></td>
          </tr>
          <tr>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow6Col1"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow6Col2"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow6Col3"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow6Col4"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow6Col5"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow6Col6"></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow6Col7"></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow6Col8"></td>
          </tr>
          <tr>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow7Col1"><span class="chessPiece">♟︎</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow7Col2"><span class="chessPiece">♟︎</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow7Col3"><span class="chessPiece">♟︎</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow7Col4"><span class="chessPiece">♟︎</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow7Col5"><span class="chessPiece">♟︎</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow7Col6"><span class="chessPiece">♟︎</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow7Col7"><span class="chessPiece">♟︎</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow7Col8"><span class="chessPiece">♟︎</span></td>
          </tr>
          <tr>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow8Col1"><span class="chessPiece">♜</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow8Col2"><span class="chessPiece">♞</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow8Col3"><span class="chessPiece">♝</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow8Col4"><span class="chessPiece">♛</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow8Col5"><span class="chessPiece">♚</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow8Col6"><span class="chessPiece">♝</span></td>
            <td class="blackSquare" (click)="handleSqrClick($event)" id="sqrRow8Col7"><span class="chessPiece">♞</span></td>
            <td class="whiteSquare" (click)="handleSqrClick($event)" id="sqrRow8Col8"><span class="chessPiece">♜</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="rightSidebar" class="sidebar">
      <div class="sidebarContent">
        <h2>Black Player</h2>
        <ul>
          <li>King Status: <span id="blackKingStatus">Safe</span></li>
        </ul>
      </div>
    </div>
  </div>
</body>
