
/*Sizes for base screen size (DESKTOP)*/
@media only screen and (min-width: 1300px) {
  #mainContent {
    width: 1200px;
    height: 2000px;
    margin: auto;
  }

  table {
    height: 40em;
  }

  .sidebar {
    height: 40em;
  }

  .headFootbar {
    height: 15em;
  }

  #chessBoard {
    width: 50%;
  }
}

/*Sizes for small screen size (DESKTOP)*/
@media only screen and (max-width: 1300px) {
  #mainContent {
    width: 900px;
    height: 700px;
    margin: auto;
  }

  body {
    height: 1250px;
  }

  table {
    height: 35em;
  }

  .sidebar {
    height: 35em;
  }

  .headFootbar {
    height: 10em;
  }

  #chessBoard {
    width: 70%;
  }
}

.flexContainer {
  display: flex;
  margin: center;
  align-items: center;
  justify-content: center;
}

table {
  text-align: center;
  border: 10px;
  border-style: solid;
  border-color: #B22222;
}

.chessPiece {
  font-size: 52px;
  line-height: 40px;
}

header, .sidebarContent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  text-align: center;
}

.blackSquare, .whiteSquare {
  width: 12.5%;
  height: 12.5%;
  border-collapse: collapse;
}

.whiteSquare {
  background-color: #F8F8FF;
}

.blackSquare {
  background-color: #808080;
}

.sidebar {
  background-color: #FFB6C1;
  width: 25%;
}

.sidebarContent {
  padding-right: 2em;
  text-align: center;
}

.sidebar ul li {
  list-style: none;
}

.headFootbar {
  background-color: #FFB6C1;
}