<body>
  <p>Chess Connected!</p>
  <table>
    <tbody>
      <tr>
        <td class="whiteSquare"><span>♖</span></td>
        <td class="blackSquare"><span>♘</span></td>
        <td class="whiteSquare"><span>♗</span></td>
        <td class="blackSquare"><span>♕</span></td>
        <td class="whiteSquare"><span>♔</span></td>
        <td class="blackSquare"><span>♗</span></td>
        <td class="whiteSquare"><span>♘</span></td>
        <td class="blackSquare"><span>♖</span></td>
      </tr>
      <tr>
        <td class="blackSquare"><span>♙</span></td>
        <td class="whiteSquare"><span>♙</span></td>
        <td class="blackSquare"><span>♙</span></td>
        <td class="whiteSquare"><span>♙</span></td>
        <td class="blackSquare"><span>♙</span></td>
        <td class="whiteSquare"><span>♙</span></td>
        <td class="blackSquare"><span>♙</span></td>
        <td class="whiteSquare"><span>♙</span></td>
      </tr>
      <tr>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
      </tr>
      <tr>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
      </tr>
      <tr>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
      </tr>
      <tr>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
        <td class="blackSquare"></td>
        <td class="whiteSquare"></td>
      </tr>
      <tr>
        <td class="whiteSquare"><span>♟︎</span></td>
        <td class="blackSquare"><span>♟︎</span></td>
        <td class="whiteSquare"><span>♟︎</span></td>
        <td class="blackSquare"><span>♟︎</span></td>
        <td class="whiteSquare"><span>♟︎</span></td>
        <td class="blackSquare"><span>♟︎</span></td>
        <td class="whiteSquare"><span>♟︎</span></td>
        <td class="blackSquare"><span>♟︎</span></td>
      </tr>
      <tr>
        <td class="blackSquare"><span>♜</span></td>
        <td class="whiteSquare"><span>♞</span></td>
        <td class="blackSquare"><span>♝</span></td>
        <td class="whiteSquare"><span>♛</span></td>
        <td class="blackSquare"><span>♚</span></td>
        <td class="whiteSquare"><span>♝</span></td>
        <td class="blackSquare"><span>♞</span></td>
        <td class="whiteSquare"><span>♜</span></td>
      </tr>
    </tbody>
  </table>
</body>
